.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 100%;
    transform: translate3d(0, -100%, 0);
    opacity: 0.5;
  }
 input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0%;
 }  

.container {
  background-color: white;
  margin: 50px auto;
}

.center {
  margin: 0 auto;
}

input:invalid {
  border-bottom: 1px solid red;
  outline: none;

}
input:valid {
  border-bottom: 1px solid green;
  outline: none;

}
